<div class="w-25 container text-center my-5">
<h3>Welcome, <%= cookies[:user_name].titleize %>.</h3>
  <table class="table table-bordered table-hover table-striped my-3">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Company</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <% @cars.each do |car| %>
        <tr>
          <td><%= car.name %></td>
          <td><%= car.company %></td>
          <td><%= car.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
