<div class="row">
  <div class="container col-6 my-5"> 
    <%= form_tag (users_path) do %>
      <h1>Login Page</h1>
      <div class="input-group mb-3"> 
        <label class="input-group-text">Username</label> 
        <%= text_field_tag :username, nil, class: 'form-control' %> 
      </div> 

      <div class="input-group mb-3"> 
        <label class='input-group-text'>Password</label> 
        <%= password_field_tag :password, nil, class: 'form-control' %> 
      </div> 

      <div class="input-group mb-3"> 
        <%= submit_tag :Login, class: 'btn-success rounded p-1 px-2' %> 
      </div> 
    <% end %> 
  </div> 
</div>
